@charset "UTF-8";
/* Общие настройки */
.clear {
  clear: both; }

html a, body a {
  color: #337AB7;
  outline: none; }
  html a:hover, body a:hover {
    text-decoration: none;
    color: #245681; }

header .navbar-inverse {
  background-image: linear-gradient(to top, #13243b 0px, #000 100%);
  margin-bottom: 0;
  border-radius: 0;
  border: none; }
  header .navbar-inverse .navbar-nav {
    margin: 0;
    text-align: center; }
    header .navbar-inverse .navbar-nav li a {
      color: #337AB7;
      font-size: 22px;
      outline: none; }
  header .navbar-inverse #users-box {
    margin-right: 0;
    margin-left: 0;
    text-align: center; }
    header .navbar-inverse #users-box a {
      outline: none; }
    header .navbar-inverse #users-box #wellcome-text {
      color: #fff; }

#sidebar {
  background-image: linear-gradient(to top, #13243b 0px, #000 100%);
  overflow: hidden;
  color: #fff; }
  #sidebar ul {
    list-style: none; }
    #sidebar ul li {
      border-top: solid 1px #787878;
      padding: 10px 0 10px 0; }
      #sidebar ul li:first-of-type {
        padding-top: 0;
        border-top: 0; }

#content {
  overflow: hidden; }

#page .section-list {
  padding-left: 0;
  list-style: none; }
  #page .section-list li {
    padding: 25px 0 25px 0;
    clear: both; }

.box img {
  margin: 0 20px 0 0;
  border: solid 1px #e3e3e3; }
.box table {
  border-collapse: collapse; }
.box table, .box th, .box td {
  border: 1px solid #787878;
  padding: 5px; }

footer {
  color: #fff;
  background-image: linear-gradient(to bottom, #13243b 0px, #000 100%); }
  footer #copyright {
    text-align: center; }
    footer #copyright a {
      outline: none; }

/* 404 */
.page404-page {
  background: url("../images/bg_main_content.jpg") no-repeat center center/cover;
  color: #fff;
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px 1px #000; }

/* Главная */
.main-content {
  background: url("../images/bg_main_content.jpg") no-repeat center center/cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000; }
  .main-content h1 {
    text-align: center; }
  .main-content p {
    font-size: 16px; }

/* Новости */
.news-content .news-box, .news_item-content .news-box {
  padding: 0 15px 15px 15px;
  margin-bottom: 25px;
  border: 1px solid #000;
  box-shadow: 0 0 1px #000; }
  .news-content .news-box .news-title, .news_item-content .news-box .news-title {
    background-image: linear-gradient(to top, #13243b 0px, #000 100%);
    text-align: center;
    color: #fff;
    box-shadow: 0 0 1px #000;
    text-shadow: 1px 1px 1px #265A88;
    margin: 0 0 15px 0;
    padding: 5px; }
  .news-content .news-box a, .news_item-content .news-box a {
    text-shadow: 1px 1px 1px #000; }
  .news-content .news-box .col-sm-12 a, .news_item-content .news-box .col-sm-12 a {
    outline: none; }

/* Услуги */
/* Портфолио */
.portfolio-content table, .portfolio-content tr, .portfolio-content td {
  border: 1px double #000;
  padding: 5px; }
.portfolio-content table tr:first-of-type {
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to top, #13243b 0px, #000 100%);
  color: #fff; }

/* Контакты */
.contacts-content #contact-box {
  padding-top: 15px;
  padding-bottom: 15px; }

/* Регистрация и авторизация */
.users-form-box .navbar-form {
  background-image: linear-gradient(to bottom, #13243b 0px, #000 100%);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 3px #000; }
  .users-form-box .navbar-form h4 {
    color: #fff;
    text-align: center; }
  .users-form-box .navbar-form label {
    color: #fff;
    font-size: 10px; }
  .users-form-box .navbar-form input {
    width: 100%; }
  .users-form-box .navbar-form button {
    outline: none;
    min-width: 50%; }
  .users-form-box .navbar-form a {
    margin-top: 10px;
    outline: none; }
.users-form-box #login_info {
  color: #fff; }

/* Общие настройки для страниц */
.main-content, .news-content, .news_item-content, .service-content, .portfolio-content, .contacts-content {
  padding: 15px; }

.session-message {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
