{% extends "template_view.html.twig" %}

{% block title %} Страница не найдена - 404 {% endblock %}

{% block content %}
<h1 class="text-center">Ошибка 404</h1>
<h2 class="text-center">Страница не найдена</h2>
<p class="text-center"><a href="milto:info@yurasik.ml">Напишите нам!</a></p>
{% endblock %}