{% extends "template_view.html.twig" %}

{% block title %} Новость {% endblock %}

{% block content %}

    {% if article %}
    <div class="col-sm-12 bg-info news-box">
        <div class="row">
            <h2 class="news-title">{{ article.title }}</h2>
            <div class="col-sm-12">
                <p class="news-description">{{ article.full_text }}</p>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}