{% extends "template_view.html.twig" %}

{% block title %} Новости {% endblock %}

{% block content %}

    {% if news %}
        {% for article in news %}
        <div class="col-sm-12 bg-info news-box">
            <div class="row">
                <h2 class="news-title">{{ article.title }} </h2>
                <div class="col-sm-12">
                    <p class="news-description">{{ article.description }}</p>
                    <a href="{{ url.generate('article',{id: article.id}) }}" class="btn btn-primary pull-right">Читать далее...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}