{% extends "Admin/admin_template_view.html.twig" %}

{% block title %} Добавить новость {% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post">
        <a href="{{ url.generate('adminNews') }}" class="btn btn-danger" style="margin-right: 10px;"><i class="fa fa-close"></i> Отмена</a>
        <p><b>Заголовок: </b><br><input style="width: 100%" type="text" name="title"></p>
        <p><b>Описание: </b><br><textarea style="width: 100%" name="description" id="description" class="tiny" rows="5"></textarea></p>
        <p><b>Новость: </b><br><textarea style="width: 100%" name="full_text" id="full_text" class="tiny" rows="15"></textarea></p>
        <button type="submit" name="save" class="btn btn-success pull-right">Добавить <i class="fa fa-file-o"></i></button>
        <div class="clear"></div>
    </form>
</div>
{% endblock %}